<!DOCTYPE html>
<html lang="en">

<head>
    <!--ref sitpoint.com -->
    <title>Edit Module Page</title>
    <meta name="Edit Module" content="brought from update link in listModules.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Add Student</h1>

    <form>
        <form action="/addStudent" method="POST">
            <label>Student ID:</label><br>
            <input type="text" name="sid"><br>
            <label>Name:</label><br>
            <input type=" text" name="name" ><br>
            <label>GPA:</label><br>
            <input type="gpa" name="gpa"><br>
            <input type="submit" value="Add" />
        </form>
    </form><br>

    <!-- Moduleslink -->
    <a href="/listStudents">Students</a><br><br>
    <!-- home link -->
    <a href="/">Home</a>
</body>

</html>