<!DOCTYPE html>
<html lang="en">

<head>
    <!--ref sitpoint.com -->
    <title>Edit Module Page</title>
    <meta name="Edit Module" content="brought from update link in listModules.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Edit Module</h1>
    <!-- list with links -->

    <a href="/">Home</a>
</body>

</html>