<!DOCTYPE html>
<html lang="en">

<head>
    <!--ref sitpoint.com -->
    <title>Home Page</title>
    <meta name="Index" content="Home Page with index of pages.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Home Page</h1>
    <!-- list with links -->
    <ul>
		<li><a href="/listModules">List Modules</a></li>
		<li><a href="/listStudents">List Students</a></li>
		<li><a href="/listLecturers">List Lecturers</a></li>
	</ul>
    <a href="/">Home</a>
</body>

</html>